* {
    max-width: 100%;
    margin: auto;
}

div {
    border-radius: 10px;
}

#header {
    height: 10px;
    width: 100%;
    background-color: rgb(240, 159, 220);
    position: fixed;
    z-index: 1;
}

.footer {
    height: 10px;
    width: 100%;
    background-color: rgb(240, 159, 220);
    position: relative;
    clear: both;
}

.left-side {
    height: 1010px;
    width: 10px;
    background-color: rgb(236, 182, 250);
    float: left;
    position: inherit;
}

.right-side {
    height: 1010px;
    width: 10px;
    background-color: rgb(236, 182, 250);
    float: right;
    position: inherit;
}

.content {
    display: inline-block;
    margin-top: 3px;
    margin-left: 85px;
    width: 75%;
    height: 1010px;
}

.heading {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px
}

.copyright {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}